* {
	margin: 0;
	padding: 0;
}
* {
	text-decoration: none;
}
li {
	text-decoration: none;
	list-style: none;
}
body {
	background: lightgray;
	font-family: Arial;
	
}
li {list-style: none;
	display: flex;
}
.nem {
	float: right;
	margin: 10px;
}
a {text-decoration: none;
}
header {
	background-color: gray;
	padding: 22px 0;
}
.head-container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
} 
.head-container a {
	color: brown;
	font-size: 20px;
	margin-right: 65px;
	padding: 12px 6px;

}
.head-container a:hover {
	background: lightgray;

}
#menu-checkbox {
	display: none;
}
ul {display: flex;
}
nav {
	margin-top: 45px;
	}

.carta {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;

}
.galera {
	display: flex;
	justify-content: center;
	align-items: center;
}
.item:hover {
	flex-basis: 75%;
}
.item {

	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
	background-color: yellow;
	flex-basis: 50%;
	margin: 25px;
	transition: 0.4s;
}
 .sp1 {
	font-size: 20px;
	margin-bottom: 145px;
	color: white;

}
.item-1 {
	background: url(img/img1.jpg) no-repeat center center;
	background-size: cover;
}
.item-2 {
	background: url(img/img2.jpg) no-repeat center center;
	background-size: cover;
}
.item-3 {
	background: url(img/img3.jpg) no-repeat center center;
	background-size: cover;
}
.galera2 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.item2 {
	margin: 25px;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	background-color: yellow;
	flex-basis: 50%;
	transition: 0.4s;
}
.item2:hover {
	flex-basis: 75%;
}
.item-a {
	background: url(img/img4.jpg) no-repeat center center;
	background-size: cover;
}
.item-b {
	background: url(img/img5.jpg) no-repeat center center;
	background-size: cover;
}
.item-c {
	background: url(img/img6.jpg) no-repeat center center;
	background-size: cover;
}
.sp2 {
	font-size: 20px;
	margin-bottom: 145px;
	color: lightyellow;
	}
.footer {
		margin-top: 10px;
		height: 80px;
		border-style: solid;
		background-color:#998282; 
		text-align: center;
		padding-top: 20px;
	}
	@media screen and (max-width: 768px ) {
		.head-container {
			width: 100%;
			display: flex;
			justify-content: space-around;
		}
		.main-menu {
			display: none;
		}
		.main-menu li {
            width: 100%;
            display: block;
            font-size: 12px;
		}
		.main-menu a {
			display: block;
			padding: 8px;
		}
       .toggle-buttom {
       	text-align: center;
       	display: block;
       	cursor: pointer;
       	color: black;
       }
       .toggle-buttom:after {
       	content: attr(data-open);
       	display: block;
       }
       #menu-checkbox:checked + nav[role="navigation"] .main-menu {
       	display: block;
       }
       #menu-checkbox:checked + nav[role="navigation"] .toggle-buttom:after {
        content: attr(data-close);
       	display: block;
       }
       .head-container a {
       	margin-right: -65px;
       }
       .main-menu {
       	position: relative;
       	top: 15px;
       	right: 40px;
       }
		.galera {
	display: block; 
	justify-content: center;
	align-items: center;
}
.galera2 {
	display: block;
	justify-content: center;
	align-items: center;
}
	

