* {
	margin: 0;
	padding: 0;
}
* {
	text-decoration: none;
}
li {
	text-decoration: none;
	list-style: none;
}
p {
	font-family: Arial-Black;
	color: white;
	font-size: 24px;
}
body {
	background-image: url(nemz.png);
	opacity: 0.7;
	font-family: Arial;
	background-size: cover;
}
h2 {text-align: center;
	color: #E4F110;
  }
.logo {
	background: gray;
	width: 100%;
	display: flex;
	justify-content: left;
}
.txt {
	padding-top: 100px;
	padding-left: 280px;
	color: white;
	font-size: 35px;
	box-sizing: border-box;
}
.graficlogo {
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}

nav {
	background: lightgray;
	margin: auto;
	width: 540px;
	height:50px;
}

.topnav {
	display: flex;
	justify-content: right;
	text-align: right;
	background-color: white;
	font-size: 14px;
	margin-top: 20px;
}
.topnav a {
	background-color: lightgray;
	color: #000;
	padding: 16px 19px;
	font-size: 15px;
}
.topnav a:hover {
	border-bottom: 2px solid #000;
}
.footer {
		margin-top: 10px;
		height: 80px;
		border-style: solid;
		background-color:#998282; 
		text-align: center;
		padding-top: 20px;
	}
