* {
	margin: 0;
	padding: 0;
}
* {
	text-decoration: none;
}
li {
	text-decoration: none;
	list-style: none;
}
body {
	background: lightgray;
	font-family: Arial;
	
}
a {text-decoration: none;
}
header {
	background-color: gray;
	padding: 22px 0;
}
.head-container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
} 
.head-container a {
	color: brown;
	font-size: 18px;
	margin-right: 65px;
	padding: 12px 6px;

}
.head-container a:hover {
	background: lightgray;

}
#menu-checkbox {
	display: none;
}
ul {display: flex;
}
nav {
	margin-top: 45px;
	}
	.galera {
	display: flex; 
	padding: 20px;
	margin: 25px;
	justify-content: center;
	align-items: center;
}
.sp1 {
	font-size: 20px;
	margin-bottom: 145px;
	color: white;
	}
	.ttt {background-color: black;
		color: white;
		font-size: 20px;
		position: absolute;
		margin-top: 170px;
		min-width: 24%;
		text-align: center;
	}


.txt {
	padding-top: 100px;
	padding-left: 280px;
	color: white;
	font-size: 35px;
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
}
.container {
	margin-top: 20px;
	margin-left: 26%;
	height: 50%;
	width: 50%;
	position: absolute;
	display: block;
	overflow: hidden;
}

figure {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: absolute;
	display: block;
	overflow: hidden;
	animation: slider 12s infinite;

}
figure:nth-child(1) {
	background-image: url(nem3.jpg);
	z-index: 4;
	left: 0;
	animation-delay: -1s;
}
figure:nth-child(2) {
	background-image: url(nem4.png);
	z-index: 3;
	animation-delay: 2s;
}
figure:nth-child(3) {
	background-image: url(nem2.jpg);
	z-index: 2;
	animation-delay: 5s;
}
figure:nth-child(4) {
	background-image: url(nem1.jpg);
	z-index: 1;
	left: 0;
	animation-delay: 8s;
}
@keyframes slider {
	0% {left: 100%; width:100%}
	5% {left: 0}
	25% {left: 0}
	30% {left: -100%; width: 100%}
	31% {left: -100%; width: 0}
	100% {left: 100%; width: 0 }
}
.footer {

		margin-top: 400px;
		height: 80px;
		border-style: solid;
		background-color:#998282; 
		text-align: center;
		padding-top: 20px;
		}
		@media screen and (max-width: 768px ) {
		.head-container {
			width: 100%;
			display: flex;
			justify-content: space-around;
		}
		.main-menu {
			display: none;
		}
		.main-menu li {
            width: 100%;
            display: block;
            font-size: 12px;
		}
		.main-menu a {
			display: block;
			padding: 8px;
		}
       .toggle-buttom {
       	text-align: center;
       	display: block;
       	cursor: pointer;
       	color: black;
       }
       .toggle-buttom:after {
       	content: attr(data-open);
       	display: block;
       }
       #menu-checkbox:checked + nav[role="navigation"] .main-menu {
       	display: block;
       }
       #menu-checkbox:checked + nav[role="navigation"] .toggle-buttom:after {
        content: attr(data-close);
       	display: block;
       }
       .head-container a {
       	margin-right: -65px;
       }
       .main-menu {
       	position: relative;
       	top: 15px;
       	right: 100px;
       }
